<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="exportkit.xd">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESSS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moment20">
        <activity
            android:name=".about_activity"
            android:exported="false" />
        <activity
            android:name=".logout_session"
            android:exported="false" />
        <activity
            android:name=".TaskMain"
            android:exported="false" />
        <activity
            android:name=".splash_screen_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".success_change_activity" />
        <activity android:name=".login_session_activity" />
        <activity android:name=".create_password_activity" />
        <activity android:name=".forgot_password_session_activity" />
        <activity android:name=".check_email_activity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ToDoActivity" />
        <activity android:name=".FinanceActivity" />
        <activity android:name=".profile_activity" />
        <activity android:name=".sign_up_activity" />
        <activity android:name=".set_time_activity" />
        <activity android:name=".set_reminder_activity" />
        <activity android:name=".to_do_field_activity" />
        <activity android:name=".to_do_field_1_activity" />
        <activity android:name=".set_priority_template_activity" />
        <activity android:name=".login_error_session_activity" />
        <activity android:name=".AddTitleActivity" />
        <activity android:name=".set_task_activity" />
        <activity android:name=".analysis_activity" />
        <activity android:name=".add_pengeluaran_activity" />
        <activity android:name=".add_pemasukkan_activity" />
        <activity android:name=".set_limit_template_activity" />
        <activity android:name=".transaction_template_activity" />
        <activity android:name=".signup_success_activity" />
        <activity android:name=".change_password" />
        <activity android:name=".help_activity" />
    </application>

</manifest>